<!DOCTYPE html>

<head>
    <title>Hello, world!</title> 
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/2613/PNG/512/astronomy_jupiter_galaxy_planet_space_system_universe_icon_156875.png">
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static', path='main.js') }}"></script>
</head>

<body class="background">
    <div class="text-center general-text">
        <header id="welcome_header" class="header">
            <h1>Hello, world! This is your landing page.</h1>
        </header>
    </div>
    
    <div class="general-text text-center" style="visibility: visible;" id="form_area">
        <h3>Enter your name</h3>
        <form required>
            <input id='query_area' type="text" class="input" >
            <input id="name_form" type="submit" hidden>
        </form> 
    </div>

    <div class="text-center">
        <form action="/explore" method="get" style="visibility: hidden;" id="date_form">
            <button class="button">Enter</button>
        </form>
    </div>

    <div class="image-blurred center"></div>


</body>

</html>
